# URL бэкенда
# Для локальной разработки:
VITE_API_URL=http://localhost:3000
VITE_WS_URL=http://localhost:3000

# Для продакшена:
# VITE_API_URL=https://traiding.kalakala.ru
# VITE_WS_URL=https://traiding.kalakala.ru
